body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}


.green-box{
    width:200px;
    height:200px;
    background-color:green;
    margin-left:auto;
    margin-right:auto;
}
.blue-box{
    width:300px;
    background-color:blue;
    margin-left:auto;
    margin-right:auto;
}
